:root {
  --green-strong: #1C3D14;
  --green-medium: #005034;
  --green-light: #958419;
  --green-light-med: #a7964d;
  --danger: #dc3545;
}

.card-top {
    border:none;
  }
  
.card-top .card-top-title {
    color: #1C3D14;
    font-size: 15px;
    font-weight: 700;
}
  
.card-top-content {
    font-size: 19px;
    font-weight: 700;
}

.card-content {
  border:none;
  border-left: solid 5px var(--green-light);
  max-height: 95%;
}
  
.btn-hov {
    color: #fff;
    background: #1C3D14;
    border: 1px solid transparent;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  
.btn-hov:hover {
    color: #1C3D14;
    background: transparent;
    border: 1px solid #1C3D14;
}

.btn-hov:focus {
  outline: none;
  box-shadow: none;
  color: #1C3D14;
  background: transparent;
  border: 2px solid #1C3D14;
}

.btn-hov:active {
  outline: none;
  box-shadow: none;
  color: #1C3D14;
  background: #fff;
  border: 2px solid #1C3D14;
}

.btn-green-light {
  color: #fff;
  background-color:#958419;
  border: 1px solid transparent;
  transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-green-light:hover {
  color: #958419;
  background-color: #fff;
  border: 1px solid#958419;
}

.profile-label {
  color: var(--green-strong);
  font-weight: bold;
}

.is-invalid {
  border: solid 1px var(--danger);
}

.is-invalid:focus { 
  outline: none !important;
  box-shadow:none !important;
  border: solid 2px var(--danger);
}

.form-input:focus {
  outline: none;
  box-shadow:none;
  border: solid 2px var(--green-strong);
}

.btn-pass {
  background-color: white;
  border: solid 1px #666666;
  color: #666666;
}

.btn-pass:hover {
  border: solid 1px #444444;
  color: #444444;
}

.btn-pass:focus {
  outline: none;
  box-shadow: none;
  background-color: white;
  border: solid 1px #444444;
  color: #444444;
}

.tab-item-stat {
  width: 130px;
}

.tab-link-stat {
  color: var(--green-light);
}

.tab-link-stat:hover {
  color: var(--green-medium);
}

.tab-link-stat.active {
  background-color: var(--green-medium) !important;
}

.date-main {
  padding: 3px;
  border-radius: 5px;
}

.datatable thead tr {
  background-color:rgba(28,61,20,0.8);
  font-size: 14px;
}

.datatable tfoot tr {
  background-color:rgba(28,61,20,0.8);
  font-size: 14px;
}

.datatable tbody tr {
  font-size: 15px;
}

.tab-content .tab-pane {
  border-radius: 4px;
}

.nav-tabs .nav-item .nav-link {
  font-size: 14px;
  text-decoration: none;
  color: #6c757d;
}

.nav-tabs .nav-item .nav-link.active.accesos {
  font-weight: bold;
  color: var(--green-light-med);
  box-shadow: 0px -8px 62px -29px rgba(0,0,0,1);
  -webkit-box-shadow: 0px -8px 62px -29px rgba(0,0,0,1);
  -moz-box-shadow: 0px -8px 62px -29px rgba(0,0,0,1);
}

.nav-tabs .nav-item .nav-link.active.casos {
  font-weight: bold;
  color: var(--danger);
  box-shadow: 0px -8px 62px -29px rgba(0,0,0,1);
-webkit-box-shadow: 0px -8px 62px -29px rgba(0,0,0,1);
-moz-box-shadow: 0px -8px 62px -29px rgba(0,0,0,1);
}

.modal .modal-body label {
  font-size: 15px;
}