@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --green-strong: #1C3D14;
    --green-medium: #005034;
    --green-light: #958419;
    --grey-dark: #2d3436;
}

body {
  font-family: 'Roboto', sans-serif;
}

#topbar {
  margin: 0;
  padding: 0;
  max-width: 100%;
  padding-left: 3%;
  padding-right: 2%;
  padding-top: 0.8%;
  padding-bottom: 0.8%;
}

.head__custom-nav {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

#menuButton{
  border: none;
}

#menuButton:hover {
  border-radius: 3px;
  background-color: #00000030;
  border: none;
}

#menuButton:focus {
  outline: none;
  box-shadow: none;
  border-radius: 3px;
  background-color: #00000030;
  border: none;
}

#menuButton:active {
  outline: none;
  box-shadow: none;
  border-radius: 3px;
  background-color: #00000030;
  border: none;
}

#mainContainer {
  background: rgba(28,61,20,0.69);
  background: -moz-linear-gradient(90deg, rgba(28,61,20,0.6979166666666667) 34%, rgba(167,150,77,0.9051995798319328) 100%);
  background: -webkit-linear-gradient(90deg, rgba(28,61,20,0.6979166666666667) 34%, rgba(167,150,77,0.9051995798319328) 100%);
  background: linear-gradient(90deg, rgba(28,61,20,0.6979166666666667) 34%, rgba(167,150,77,0.9051995798319328) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c3d14",endColorstr="#a7964d",GradientType=1);
  padding-left:50px;
  padding-right: 50px;
  max-width: 100%;
  margin-bottom: 70px;
}

.custom-section {
  padding: 0;
  margin: 0;
  height: 100%;
}

.btn-login {
    padding: 8px 30px;
    color: white;
    background-color: var(--green-strong);
    border: 1px solid transparent;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-login:hover {
    padding: 8px 30px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.btn-login:focus {
    padding: 8px 30px;
    outline: none;
    box-shadow: none;
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

.btn-more {
    padding: 8px 30px;
    margin-left: 10px;
    color: white;
    background-color: var(--green-light);
    border: 1px solid transparent;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-more:hover {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.btn-more:focus {
    outline: none;
    box-shadow: none;
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

.btn-login-nav {
    padding: 8px 25px;
    margin-right: 25px;
    text-align: center;
    color: #fff;
    background-color: #1C3D14;
    border: 1px solid transparent;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-login-nav:hover {
    color: #1C3D14;
    background-color: #ffffff;
    border: 1px solid #1C3D14;
}

.btn-login-nav:focus {
    outline: none;
    box-shadow: none;
    color: #1C3D14;
    background-color: #ffffff;
    border: 1px solid #1C3D14;
}

.nav-item {
    padding-left: 8px;
    padding-right: 8px;
}

.nav-item .nav-link {
  font-weight: 300;
  font-size: 16px;
}

.nav-item.active .nav-link {
  color: var(--green-strong) !important;
  border-bottom: 2px solid #1C3D14;
  font-weight: 400;
}

.nav-item .nav-link:hover {
  color: var(--green-strong) !important;
  border-bottom: solid 2px var(--green-strong);
}


.img-content {
    padding: 0;
    margin: 0;
}

.img-content img {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

#main-text-header {
    padding-top: 30px;
    padding-right: 0px;
    padding-left: 0;
}

#main-text-header p {
    padding-top: 10px;
}

#main-title {
    font-size: 22px;
    font-weight: 800;
    font-style: bold;
}

.bg-green-strong {
    background-color: var(--green-strong);
}
  
.bg-green-light {
    background-color: var(--green-light);
}

  .scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: #95841999;
    line-height: 46px;
  }
  
  .scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
  }
  
  .scroll-to-top:hover {
    background: var(--green-light);
  }
  
  .scroll-to-top i {
    font-weight: 800;
  }

.text-green-strong {
    color: var(--green-strong);
}
  
.text-green-light {
    color: var(--green-light);
}

.text-green-medium {
  color: var(--green-medium);
}

.footer-item a {
  color: white;
}

.footer-item a:hover {
  text-decoration: none;
  color: #badc58A0;
}