:root {
  --green-strong: #1C3D14;
  --green-strong2: #005034;
  --green-light: #958419;
  --grey-dark: #2d3436;
}

body {
  background: rgb(58,80,56);
  background: -moz-linear-gradient(90deg, rgba(58, 80, 56, 0.85) 20%, rgba(167,150,77,0.896796218487395) 100%);
  background: -webkit-linear-gradient(90deg, rgba(58,80,56,0.85) 20%, rgba(167,150,77,0.896796218487395) 100%);
  background: linear-gradient(90deg, rgba(58,80,56,0.85) 20%, rgba(167,150,77,0.896796218487395) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a5038",endColorstr="#a7964d",GradientType=1);
}

#topbar {
  margin: 0;
  padding: 0;
  max-width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  box-shadow: 0 4px 4px 0 #00000040;
}

#menuButton{
  border: none;
}

#menuButton:hover {
  border-radius: 3px;
  background-color: #00000030;
  border: none;
}

#menuButton:focus {
  outline: none;
  box-shadow: none;
  border-radius: 3px;
  background-color: #00000030;
  border: none;
}

#menuButton:active {
  outline: none;
  box-shadow: none;
  border-radius: 3px;
  background-color: #00000030;
  border: none;
}

.head__custom-nav {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.btn-login-nav {
    padding: 8px 22px;
    text-align: center;
    margin-right: 25px;
    color: #fff;
    background-color: #1C3D14;
    border: 1px solid transparent;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-login-nav:hover {
    color: #1C3D14;
    background-color: #fff;
    border: 1px solid #1C3D14;
}

.nav-item {
    padding-left: 8px;
    padding-right: 8px;
}

.nav-item .nav-link {
  font-weight: 300;
  font-size: 16px;
}

.nav-item .nav-link:hover {
  color: var(--green-strong) !important;
  border-bottom: solid 2px var(--green-strong);
}

.nav-icon {
    padding-left: 30px;
}

#main-title {
    font-size: 22px;
    font-weight: 800;
    font-style: bold;
}

.login-card {
  margin-top: 40px;
  border: 1px solid #dfe6e9;
  box-shadow: 0 5px 5px 5px #dfe6e9; 
}

.img-col {
    max-height: 510px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
}

.btn-login {
    padding: 8px 22px;
    color: #fff;
    background-color: var(--green-strong);
    border: 1px solid transparent;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.btn-login:hover {
    color: var(--green-strong2);
    background-color: #fff;
    border: 1px solid #1C3D14;
}

.btn-login:focus {
  color: #1C3D14;
  background-color: #fff;
  border: 2px solid #1C3D14;
  box-shadow: none;
}

.user_email:focus {
  /*outline: #1C3D14;*/
  box-shadow:none;
  border: solid 2px var(--green-strong);
}

.user_password:focus {
  box-shadow:none;
  border: solid 2px var(--green-strong);
}

.error-message {
  color: #dc3545;
  font-size: 13px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1px #dc3545;
  border-radius: 4px;
  background-color: #fab1a033;
}

.bg-image {
  background: url("../img/png/pass_bg.jpg");
  background-position: center;
  background-size:cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.is-invalid {
  border: solid 1px var(--danger);
}

.is-invalid:focus { 
  outline: none !important;
  box-shadow:none !important;
  border: solid 2px var(--danger);
}

.form-input:focus {
  outline: none;
  box-shadow:none;
  border: solid 2px var(--green-strong);
}

.btn-pass {
  background-color: transparent;
  border: solid 1px #AAAAAA;
  color: #AAAAAA;
  border-bottom-right-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

.btn-pass:hover {
  border: solid 1px #777777;
  color: #777777;
}

.btn-pass:focus {
  outline: none;
  box-shadow: none;
  background-color: white;
  border: solid 1px #AAAAAA;
  color: #AAAAAA;
}

#user_captcha {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  
}

#captcha_img{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.rounded_squares {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}