.card-top {
    border:none;
    border-left: solid 5px var(--green-light);
    max-height: 120px;
}
  
.card-top .card-top-title {
    color: #1C3D14;
    font-size: 13px;
    font-weight: 700;
}
  
.card-top-content {
    color: #2d3436;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn-hov {
    color: #fff;
    background: #1C3D14;
    border: 1px solid transparent;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  
.btn-hov:hover {
    color: #1C3D14;
    background: #fff;
    border: 1px solid #1C3D14;
}


.card-hov {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

.card-hov:hover, .card-hov:focus, .card-hov:active {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
    color: white !important;
    border-left: solid 5px var(--green-strong);
}

.btn-hov {
    color: #fff;
    background: #1C3D14;
    border: 1px solid transparent;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  
.btn-hov:hover {
    color: #1C3D14;
    background: #fff;
    border: 1px solid #1C3D14;
}

.btn-list {
    color:#1C3D14;
    text-decoration: none;
}

.btn-list:hover {
    color: #958419;
    text-decoration: none;
}

.card-content {
    border:none;
    border-left: solid 5px var(--green-light);
    max-height: 95%;
}

.profile-label {
    color: var(--green-strong);
    font-weight: bold;
}
  
.form-input:focus { 
    box-shadow:none;
    border: solid 2px var(--green-strong);
}

.profile-label {
    color: var(--green-strong);
    font-weight: bold;
  }
  
.is-invalid {
    border: solid 1px var(--danger);
}
  
.is-invalid:focus { 
    outline: none !important;
    box-shadow:none !important;
    border: solid 2px var(--danger);
}
  
.form-input:focus {
    outline: none;
    box-shadow:none;
    border: solid 2px var(--green-strong);
}
  
.btn-pass {
    background-color: white;
    border: solid 1px #666666;
    color: #666666;
}
  
.btn-pass:hover {
    border: solid 1px #444444;
    color: #444444;
}
  
.btn-pass:focus {
    outline: none;
    box-shadow: none;
    background-color: white;
    border: solid 1px #444444;
    color: #444444;
}

.info-left {
    background-color: var(--green-light-med);
    color: white;
    display: flex;
    align-items: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.info-right {
    vertical-align: middle !important;
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}