@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#header {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#uaem-title {
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-top: 7px;
    font-family: Arial, sans-serif;
}
#fi-title {
    text-align: center;
    font-size: 15px;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}
#sca-title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}
#qr-title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}
#qr-img {
    margin-bottom: 40px;
}
.col {
    display: inline-block;
    font-family: Arial, sans-serif;
}
.mx-auto {
    margin:auto;
}
.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.d-flex {
    display: flex;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row {
    display: block;
    font-family: Arial, sans-serif;
}
