<table>
    <thead>
        <tr>
            <th style="background-color:#597552;color:white;">Datos tabla 1</th>
            <th>&nbsp;</th>
            <th>accesos</th>
            <th style="background-color:#597552;color:white;">Datos tabla 2</th>
            <th></th>
        </tr>
        <tr>
            <th style="background-color: #a7964d;color:white;">Nombre</th>
            <th style="background-color: #a7964d;color:white;">Edad</th>
            <th style="background-color: white;">&nbsp;</th>
            <th style="background-color: #a7964d;color:white;">Nombre</th>
            <th style="background-color: #a7964d;color:white;">Edad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Daniel</td>
            <td>23</td>
            <td>&nbsp;</td>
            <td>Daniel</td>
            <td>23</td>
        </tr>
    </tbody>
    </table>